<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- need to create a web.xml for this cause it's not supported by JavaConfig yet -->
    <!-- see the *WebApplicationInitializer.java for the remaining config -->
    <!-- HOWEVER A NICE WORKAROUND is to have a controller with
    @RequestMapping(value = "/", method = RequestMethod.GET)
	public String home() {
		return "redirect:/index.html";
	} -->
	<welcome-file-list>
		<welcome-file>content/index.html</welcome-file> 
	</welcome-file-list>
        
</web-app>